<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
        }
        h1 {
            text-align: center;
        }
        a {
            text-decoration: none;
            color: #007BFF;
            margin: 0 10px;
            font-size: 20px;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <!-- // Halaman awal dan tombol login dan register -->

    <h1>
        <a href="/signin">Login</a>
        <a href="/signup">Register</a>
    </h1>
</body>
</html>